requests==2.27.1
urllib3==1.25.11
aiohttp
aiosignal
appnope
asttokens
async-timeout
attrs
Bottleneck
Brotli
certifi
cffi
charset-normalizer
comm
contourpy
cryptography
cycler
datasets
debugpy
decorator
dill
exceptiongroup
executing
filelock
fonttools
frozenlist
fsspec
gmpy2
huggingface-hub
idna
importlib_metadata
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mkl-fft
mkl-random
mkl-service
mpmath
multidict
multiprocess
munkres
nest_asyncio
networkx
numexpr
numpy
packaging
pandas
parso
pexpect
pickleshare
Pillow
pip
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow
pyarrow-hotfix
pycparser
Pygments
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
setuptools
six
stack-data
sympy
tiktoken
torch
torchaudio
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
wheel
xxhash
yarl
zipp
